body {

	background: url("img/mission-border.jpg") no-repeat right bottom;

	header {
		background-image: url("img/shadows.jpg");
		height: 267px;
	}

	h1 {
		background: -webkit-linear-gradient(#eee, #333);
		font-size: 72px;
		font-style: italic;
		left: 60px;
		position: absolute;
		text-shadow: 1px 1px #c00, 2px 2px #600;
		top: 140px;
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;

		a {
			text-decoration: none;
		}
	}

	.actions {
		.import, .print {
			display: none;
		}
	}

	#main {
		background:
			url("img/biohazard.png") no-repeat 100px 30px,
			url("img/biohazard2.png") no-repeat 700px 600px,
			url("img/biohazard.png") no-repeat 250px 1400px;
		background-size: 600px;
		margin-right: 90px;

		> * {
			margin: .5em 1em 1em;
		}

		> h2 {
			color: #333;
			font-size: 2em;
			font-style: italic;
		}
	}

	#trashcan {
		display: none;
	}

}
