article.entry.list > form > header > h2 {
  font-style: italic; }
article.entry.list table.list > tbody > tr > td {
  padding: .8em 1em; }
article.entry.list table.list > tbody > tr > td.title {
  font-weight: bold; }
article.entry.list table.list > tbody > tr:hover > td {
  background-color: #fff3e6; }

.blog.entry.output > h2 {
  font-size: 3em;
  text-align: center;
  font-style: italic; }
.blog.entry.output > img.main {
  float: left;
  margin-right: 1em;
  vertical-align: bottom; }
.blog.entry.output > img.side {
  float: right;
  margin-top: 5em;
  margin-left: -170px; }
.blog.entry.output > p {
  font-size: 1.5em;
  margin: 0;
  text-align: justify;
  white-space: pre-line; }
.blog.entry.output > ul.images {
  clear: both;
  list-style: none;
  margin-top: 1em;
  text-align: center; }
  .blog.entry.output > ul.images > li {
    display: inline-block;
    margin: 4px; }
