@font-face {
	font-family: 'Crack-House';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/crack-house.woff') format('woff');
}

@font-face {
	font-family: 'Gorri-Sans';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/gorri-sans.woff') format('woff');
}

@font-face {
	font-family: 'Helvetica-Neue-LT-Std';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/helvetica-neue-lt-std.woff') format('woff');
}

@font-face {
	font-family: 'Impact';
	font-style: normal;
	font-weight: normal;
	src: url('fonts/impact.woff') format('woff');
}
