.mission.edit.window .multiple.tiles {
	text-align: center;

	table.map {
		display: inline-table;

		td.more {
			background-color: lightgray;
			color: transparent;
			font-size: 1px;
		}

		tr {

			&:hover {
				background-color: inherit;
			}

			&.more {
				height: 32px;

				&.top {
					caption-side: top;
				}
			}

			td {

				&.more {
					width: 32px;
				}

				img {
					cursor: pointer;
				}
			}
		}
	}

	div.material {
		background: white;
		bottom: 0;
		overflow: scroll;
		position: fixed;
		right: 90px;
		top: 0;

		> ul > li > ul {
			display: block;
			width: 210px;

			> li {
				display: inline-block;

				> img {
					cursor: pointer;
				}
			}
		}
	}
}
