.mission.edit.window .multiple.tiles {
  text-align: center; }
  .mission.edit.window .multiple.tiles img {
    cursor: pointer; }
  .mission.edit.window .multiple.tiles table.map {
    display: inline-table; }
    .mission.edit.window .multiple.tiles table.map tr:hover {
      background-color: inherit; }
    .mission.edit.window .multiple.tiles table.map tr td {
      color: transparent;
      font-size: 1px;
      padding: 0; }
      .mission.edit.window .multiple.tiles table.map tr td.more {
        background-color: lightgray; }
        .mission.edit.window .multiple.tiles table.map tr td.more.bottom, .mission.edit.window .multiple.tiles table.map tr td.more.top {
          height: 32px; }
        .mission.edit.window .multiple.tiles table.map tr td.more.left, .mission.edit.window .multiple.tiles table.map tr td.more.right {
          width: 32px; }
  .mission.edit.window .multiple.tiles div.material {
    background: white;
    bottom: 0;
    overflow: scroll;
    position: fixed;
    right: 90px;
    top: 0; }
    .mission.edit.window .multiple.tiles div.material > ul > li > ul {
      display: block;
      width: 210px; }
      .mission.edit.window .multiple.tiles div.material > ul > li > ul > li {
        display: inline-block; }
