article.mission.edit #tab_map {
  position: relative; }
article.mission.edit :is(.component-objects, .objects).tokens {
  position: absolute;
  top: 0; }
  article.mission.edit :is(.component-objects, .objects).tokens .mission.tokens > li {
    display: inline-block;
    position: absolute; }
    article.mission.edit :is(.component-objects, .objects).tokens .mission.tokens > li > a {
      display: inline-block; }
  article.mission.edit :is(.component-objects, .objects).tokens .tokens.material {
    right: 315px; }
    article.mission.edit :is(.component-objects, .objects).tokens .tokens.material > ul > li > ul > li {
      text-align: center; }
