.mission.edit.window {

	#tab_map {
		position: relative;
	}

	.multiple.tokens {
		position: absolute;
		top: 0;

		ul.tokens {

			> li {
				display: inline-block;
				position: absolute;
			}
		}

		.tokens.material {
			right: 315px;

			> ul > li > ul > li {
				text-align: center;
			}
		}
	}
}
