.mission.edit.window #tab_map {
  position: relative; }
.mission.edit.window .multiple.tokens {
  position: absolute;
  top: 0; }
  .mission.edit.window .multiple.tokens .mission.tokens > li {
    display: inline-block;
    position: absolute; }
  .mission.edit.window .multiple.tokens .tokens.material {
    right: 315px; }
    .mission.edit.window .multiple.tokens .tokens.material > ul > li > ul > li {
      text-align: center; }
