.mission.edit.window {

	#tab_map {
		position: relative;
	}

	.multiple.tokens {
		position: absolute;
		top: 0;

		ul.tokens {

			> li {
				position: absolute;
			}
		}

		.tokens.material {
			right: 300px;

			> ul > li > ul {
				width: 50px;
			}
		}
	}
}
