article.mission.edit :is(.component-objects, .objects).tiles, article.mission.edit :is(.component-objects, .objects).tokens {
  background-color: transparent;
  border: none; }
  article.mission.edit :is(.component-objects, .objects).tiles .mission.tiles > tbody,
  article.mission.edit :is(.component-objects, .objects).tiles .mission.tokens > li, article.mission.edit :is(.component-objects, .objects).tokens .mission.tiles > tbody,
  article.mission.edit :is(.component-objects, .objects).tokens .mission.tokens > li {
    background-color: transparent; }
  article.mission.edit :is(.component-objects, .objects).tiles > div, article.mission.edit :is(.component-objects, .objects).tokens > div {
    padding: 0;
    white-space: normal; }
  article.mission.edit :is(.component-objects, .objects).tiles > label, article.mission.edit :is(.component-objects, .objects).tokens > label {
    display: none; }
article.mission.edit :is(.component-objects, .objects) .map.editor.instructions {
  margin-top: 1em; }
  article.mission.edit :is(.component-objects, .objects) .map.editor.instructions h3 {
    margin-bottom: .5em; }
    article.mission.edit :is(.component-objects, .objects) .map.editor.instructions h3:after {
      content: ' :'; }
  article.mission.edit :is(.component-objects, .objects) .map.editor.instructions ul {
    margin-left: 1.5em; }
article.mission.edit :is(.component-objects, .objects) .material {
  background: white;
  bottom: 0;
  overflow: scroll;
  position: fixed;
  top: 0;
  z-index: 2; }
  article.mission.edit :is(.component-objects, .objects) .material h2, article.mission.edit :is(.component-objects, .objects) .material h3 {
    text-align: center; }
  article.mission.edit :is(.component-objects, .objects) .material > ul > li > ul {
    display: block; }
