.mission.edit.window .multiple.tiles img {
  cursor: pointer; }
  .mission.edit.window .multiple.tiles img.ui-draggable-dragging {
    opacity: .5; }
.mission.edit.window .multiple.tiles .mission.tiles tr:hover {
  background-color: inherit; }
.mission.edit.window .multiple.tiles .mission.tiles tr td {
  color: transparent;
  font-size: 1px;
  padding: 0;
  vertical-align: middle; }
  .mission.edit.window .multiple.tiles .mission.tiles tr td.ui-droppable-hover {
    filter: brightness(110%); }
  .mission.edit.window .multiple.tiles .mission.tiles tr td.more {
    background-color: lightgray; }
    .mission.edit.window .multiple.tiles .mission.tiles tr td.more.bottom, .mission.edit.window .multiple.tiles .mission.tiles tr td.more.top {
      height: 50px; }
    .mission.edit.window .multiple.tiles .mission.tiles tr td.more.left, .mission.edit.window .multiple.tiles .mission.tiles tr td.more.right {
      min-width: 50px; }
.mission.edit.window .multiple.tiles .tiles.material {
  right: 90px; }
  .mission.edit.window .multiple.tiles .tiles.material > ul > li > ul {
    width: 210px; }
    .mission.edit.window .multiple.tiles .tiles.material > ul > li > ul > li {
      display: inline-block;
      position: relative; }
      .mission.edit.window .multiple.tiles .tiles.material > ul > li > ul > li > span {
        background-color: darkgray;
        bottom: 4px;
        font-weight: bold;
        position: absolute;
        right: 4px;
        text-transform: uppercase; }
