article.mission.edit #tab_map :is(.component-objects, .objects).tiles {
	display: block;
}

article.mission.edit :is(.component-objects, .objects).tiles {

	img {
		cursor: pointer;

		&.ui-draggable-dragging {
			opacity: .5;
		}
	}

	.mission.tiles {
		border-collapse: collapse;
		border-spacing: 0;
		display: table;

		> tbody {
			display: table-row-group;
		}

		tr {
			display: table-row;

			&:hover {
				background-color: inherit;
			}

			td {
				color: transparent;
				font-size: 1px;
				padding: 0;
				vertical-align: middle;

				&:not(.more) {
					height: 250px;
					min-width: 250px;
					width: 250px;
				}

				> img {
					display: block;
				}

				&.ui-droppable-hover {
					filter: brightness(110%);
				}

				&.more {
					background-color: lightgray;

					&.bottom, &.top {
						height: 50px;
					}

					&.left, &.right {
						min-width: 50px;
					}
				}
			}
		}
	}

	.tiles.material {
		right: 90px;

		> ul > li > ul {
			width: 210px;

			> li {
				display: inline-block;
				position: relative;

				> span {
					background-color: darkgray;
					bottom: 4px;
					font-weight: bold;
					position: absolute;
					right: 4px;
					text-transform: uppercase;
				}
			}
		}
	}
}
