.mission.edit.window .multiple.tiles {

	img {
		cursor: pointer;

		&.ui-draggable-dragging {
			opacity: .5;
		}
	}

	.mission.tiles {

		tr {

			&:hover {
				background-color: inherit;
			}

			td {
				color: transparent;
				font-size: 1px;
				padding: 0;

				&.ui-droppable-hover {
					filter: brightness(110%);
				}

				&.more {
					background-color: lightgray;

					&.bottom, &.top {
						height: 50px;
					}

					&.left, &.right {
						min-width: 50px;
					}
				}
			}
		}
	}

	.tiles.material {
		right: 90px;

		> ul > li > ul {
			width: 210px;

			> li {
				display: inline-block;
				position: relative;

				> span {
					background-color: darkgray;
					bottom: 4px;
					font-weight: bold;
					position: absolute;
					right: 4px;
					text-transform: uppercase;
				}
			}
		}
	}
}
