.mission.edit.window .multiple {

	.material {
		background: white;
		bottom: 0;
		overflow: scroll;
		position: fixed;
		top: 0;
		z-index: 2;

		> ul > li > ul {
			display: block;

			> li {
				display: inline-block;
			}
		}
	}

	&.tiles, &.tokens {
		border: none;

		> div {
			padding: 0;
			white-space: normal;
		}

		> label {
			display: none;
		}
	}
}
